
<%= form_for [@poll] do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
  </p>

  <%= f.fields_for :question do |builder| %>
  <p>
    <%= render 'question_fields', :f => builder %>
  </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %>


