<%= form_for(@poll) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />
  </p>

  <p>
    <%= f.fields_for :question do |ff| %>
      <%= ff.label :description, "Question" %>
      <%= ff.text_area :description, :rows => 3 %>
	  <%= ff.check_box :_destroy %>
	  <% ff.label :_destroy, "Remove Question" %>
    <% end %>
  </p>

  <p>
    <%= f.fields_for :answer do |ff|%>
      <%= ff.label :description, "Answer" %>
      <%= ff.text_field :description %>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>



