<%= form_for @poll do |f| %>
  <div class ="field">
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %><br />
    </p>

    <%= f.fields_for :question do |builder| %>
      <%= render 'question_fields', :f => builder %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


