<%= form_for(@polls) do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %><br />
  </p>

  <p>
    Please enter your questions here: <br/>
    <%= f.fields_for :question do |ff| %>
      <%= ff.label :question, :description %>
      <%= ff.text_field :question, :description %>
    <% end %>
  </p>

  <p>
    Please enter an answer to your questions here: <br/>
    <%= f.fields_for :answer do |ff|%>
      <%= ff.label :description %>
      <%= ff.text_field :description %>
    <% end %>
  </p>

  <p>
    Please enter an answer to your questions here: <br/>
    <%= f.fields_for :answer do |ff|%>
      <%= ff.label :description %>
      <%= ff.text_field :description %>
    <% end %>
  </p>

  <p>
    Please enter an answer to your questions here: <br/>
    <%= f.fields_for :answer do |ff|%>
      <%= ff.label :description %>
      <%= ff.text_field :description %>
    <% end %>
  </p>

  <p>
    Please enter an answer to your questions here: <br/>
    <%= f.fields_for :answer do |ff|%>
      <%= ff.label :description %>
      <%= ff.text_field :description %>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>



