<p>
  <%= f.label :description, "Question" %>
  <%= f.text_area :description, :rows => 3 %>
</p>


<%= f.fields_for :answers do |builder|%>
  <%= builder.label :description, "Answer" %>
   <%= builder.text_field :description %>
<% end %>