<%= form_for :questions do |f| %>
<p>
  <%= f.label :description, "Question" %>
  <%= f.text_area :description, :rows => 3 %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Question" %>
</p>
<% end %>

