<h1>Create a Poll</h1>
<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>

<%= form_for @poll do |f| %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %><br />
    </p>

    <%= f.fields_for :questions, @poll.questions do |builder| %>
      <%#= render 'question_fields', :f => builder %>

      <%= builder.label :description, "Question" %>
      <%= builder.text_area :description, :rows => 3 %>
      <%= builder.check_box :_destroy %>
      <%= builder.label :_destroy, "Remove Question" %>


    <% end %>

  <%= f.submit %>

<% end %>


<p><%= link_to "+ Question", new_question_path, :remote => true %></p><br />





