<%= f.fields_for :question do |ff| %>
  <%= ff.label :description %>
  <%= ff.text_field :description %>
<% end %>

<%= builder.label :description, "Question" %>
<%= builder.text_area :description, :rows => 3 %>
<%= builder.check_box :_destroy %>
<%= builder.label :_destroy, "Remove Question" %>

<%= form_for @poll do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.fields_for :questions do |builder| %>
    <p>
    <%= builder.label :question %>
    <%= builder.text_field :description %>
    </p>

  <% end %>